/**
Sample css code
*/
/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body,
html {
  height: 100%;
}

/*Set background image*/
.container {
    background-image: url('https://images.pexels.com/photos/4448859/pexels-photo-4448859.jpeg?cs=srgb&dl=pexels-vlada-karpovich-4448859.jpg&fm=jpg');
    height: stretch;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones*/
    .leftMenu, .rightMenu, .mainBody {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    /* For tablets */
    .leftMenu, .rightMenu, .mainBody {
        width: 80%;
    }
}

@media only screen and (min-width: 912px) {
    /* For desktops */
    .leftMenu {
        width: 26%;
    }

    .mainBody {
        width: 50%;
    }

    .rightMenu {
        width: 24%
    }
}

.leftMenu {
    float: left;
    color: #336600;
    text-align: center;
}


.rightMenu {
    float: left;
    color: #336600;
}

.mainBody {
    float: left;
    color: #000000;
    text-align: center;
    background-color: #cfc493;
}

.header {
    text-align: center;
    background-color: #336600;
    color: #100038;
    padding: 15px;
}

.rightMenuDecorate {
    background-color: #336600;
    color: #000000;
    text-align: center;
    font-size: 14px;
    margin-right: 40px;
}

.ThreeColumnBody::after {
    content: "";
    clear: both;
    display: block;
}

.footer {
    background-color: #cfc493;
    color: #336600;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    padding: 15px;
    border: 2px double green;
}
.center {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: x-large;
    font-weight: bold;
}


