/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    background-color: #9aca9a;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}





@media only screen and (max-width: 600px) {
    /* For mobile phones*/
    .leftMenu, .rightMenu, .mainBody {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    /* For tablets */
    .leftMenu, .rightMenu, .mainBody {
        width: 80%;
    }
}

@media only screen and (min-width: 912px) {
    /* For desktops */
    .leftMenu {
        width: 26%;
    }

    .mainBody {
        width: 50%;
    }

    .rightMenu {
        width: 24%
    }
}

.leftMenu {
    float: left;
    color: black;
    text-align: center;
}


.rightMenu {
    float: right;
    color: black;
}

.mainBody {
    float: left;
    color: #000000;
    text-align: center;
    background-color: #cfc493;
}

.header {
    text-align: center;
    background-color: #9aca9a;
    color: #100038;
    padding: 15px;
}

.rightMenuDecorate {
    background-color: #9aca9a;
    color: #000000;
    text-align: center;
    font-size: 14px;
    margin-right: 40px;
}

.ThreeColumnBody::after {
    content: "";
    clear: both;
    display: block;
}

.footer {
    background-color: #cfc493;
    color: #9aca9a;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    padding: 15px;
    border: 2px double green;
}

.center {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: x-large;
    font-weight: bold;
}

ul {
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
}

    ul :nth-of-type(1n+15) {
        display: none;
    }
