
@{
    ViewData["Title"] = "About Us";
}


<body bgcolor="#336600">

    <div class="header">


        <h1>About Us</h1>
    </div>
    <div class="ThreeColumnBody">
        <div class="leftMenu">
            <h1>University of South Florida</h1>
            <p>Distributed Information Systems Class ISM6225</p>
        </div>

        <div class="mainBody">
            <h2>Business Need and Service for the Page</h2>
            <p>
                This page is a landing space for those individuals interested in learning more about our nations National Parks.
                Here they can find updated information on park hours, local weather conditions, and a brief overview of each park as well
                as a brief history of how our National Parks came to be.  They will also be able to fill out a visit form and rank national parks
                and leave comments on parks they have visited.  These rankings will be loaded into the Park Ranking Chart for other guests to view
                and get a gauge on which parks may peak their interest for future visits.
            </p>

            <h2>Karen Rader</h2>
            <img src="~/images/Karen.png" alt="Karen Rader" width="200" height="215">

            <p>
                Born and raised in Louisville, Kentucky she studied Communications at the University of Louisville and earned a Masters in Education
                from the University of South Florida.  However, she found her passion when she began work at Kforce and fell into a world of Data Analytics.
                She went back to USF in August 2020 in order to pursue a deeper knowledge and understanding data analysis in the MBAIS program.
            </p>

            <h2>Dominick Russo</h2>
            <img src="~/images/Dominick.png" alt="Dominick Russo" width="200" height="215">

            <p>
                Dominick Russo is currently a student at the University of South Florida and is pursuing a Master of Science in Business Analytics & Information Systems. He works as the Sales and Marketing Analyst at a growing consumer goods manufacturer in the Tampa area and aspires to apply his diverse professional experience using analytics and technology to solve problems and streamline processes.
            </p>

            <h2>Akila Ramasamy</h2>
            <p>
                INSERT AKILA BIO HERE
            </p>



            <h2> Chris Chiodo</h2>

            <p> INSERT CHRIS BIO HERE</p>
            <p>  </p>
            <p>  </p>
            <p>  </p>
            <p>  </p>
            <p>  </p>

            <h2>Database SCHEMA</h2>

            <img src="~/images/Parks db.png" alt="Database Schema" width="550" height="400" />

        </div>
    </div>
</body>


