
@{
    ViewData["Title"] = "History";
    
}



    

    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #cfc493;
        }

        li {
            float: left;
        }

            li a {
                display: block;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                li a:hover {
                    background-color: #111;
                }
    </style>


    <body bgcolor="#336600">

        <div class="header">


            <h1>History of National Parks</h1>
        </div>

        <div class="ThreeColumnBody">

            <div class="leftMenu">
                <img src="~/images/fdr.png" alt="FDR" width="183" height="217">
                <img src="~/images/NPlogo.png" alt="National Park Service Logo" width="179" height="219" />
                <img src="~/images/ww.png" alt="Woodrow Wilson" width="154" height="190">
                <img src="~/images/ysnp.png" alt="YellowStone Logo" width="154" height="190">

            </div>

            <div class="mainBody">
                <h2>1872</h2>
                <p> Establishment of Yellowstone National Park.</p>
                <h2>August 25, 1916</h2>
                <p>
                    President Woodrow Wilson signed the "Organic Act" creating the National Park
                    Serice.  A new Federal bureau in the Department of the Interior with the charge of
                    protecting and maintaining the current 35 national parks and monumnets.
                </p>

                <h2>1933</h2>
                <p>
                    An executive order signed by president Frankling D. Roosevelt transferred 56 national monumnets and military sites from the Forest Service
                    and the War Department to the National Park Serivce.
                </p>



                <h2> 1970</h2>

                <p> The General Authorities Act declared that "the National Park System, which began with the establishment of Yellowstone National Park in 1872, has since grown to include superlative natural, historic, and recreation areas in every region...and that it is the purpose of this Act to include all such areas in the Sytstem...."</p>

                <h2>Today </h2>


                <p> More than 20,000 National Park Sercie employees care for America's 400+ national parks.</p>
            </div>

            <div class="rightMenu">
                <div class="rightMenuDecorate">
                    <h2>Fun Facts</h2>
                    <p>
                        The National Park Service protects over 84 million acres of wild landscapes and historic sites.
                    <p>

                    <p> Yellowstone National Park (in Wyoming, Idaho, and Montana) is the oldest U.S. national park, founded in 1872.<p>

                    <p>The second U.S. national park created is no longer a national park. Mackinac National Park in Michigan was established in 1875 and was returned to the state in 1895. It is now one of Michigan's State Parks.</p>

                    <p>Three of the 10 highest waterfalls in the world are located in Yosemite National Park in California.</p>

                </div>
            </div>

        </div>

        <div class="footer">
            <p>“There is nothing so American as our national parks…. The fundamental idea behind the parks…is that the country belongs to the people, that it is in process of making for the enrichment of the lives of all of us.” - FDR</p>
        </div>
    </body>



