<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href=".\css\main.css">

</head>


<body>

    <div class="container">
        <div class="leftMenu" position: center>
            <div class="center">
                <ul><a class="active" href="index.html">Home</a></ul>
                <ul><a class="active" href="history2.html">History</a></ul>
                <ul><a class="active" href="chart.html">Chart</a></ul>
                <ul><a class="active" href="links.html">Links</a></ul>
            </div>
        </div>
    </div>
</body>
</html>
