@{
    ViewData["Title"] = "Index";
}

<h2>National Parks</h2>
<hr />

<div style="font-size: 16px">
    <p>
        This application let's you fetch data from National Park Service via their public <a href="https://www.nps.gov/subjects/developer/api-documentation.htm#/" target="_blank">API</a>.
        <br />
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="Parks">Parks</a> tab fetches parks data from the
        <a href="https://developer.nps.gov/">National Park Service API </a> and displays the results.
        <br />
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a> tab discusses our tem and the purpose of this site.
        <br />
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="History">History</a> tab reviews a brief history of U.S. National Parks.
        <br />
        <br />
    </p>

    <p>
        Following learning objectives are fulfilled -
        <ul>
            <li>Connection to REST API using API key.</li>
            <li>Consuming the data from the REST API.</li>
            <li>Using CRUD operations to leave reviews.</li>
            <li>Charting reviews left by park patrons.</li>
        </ul>
    </p>
</div>