@{
    ViewData["Title"] = "Index";
}

<h2>National Parks</h2>
<hr />

<div style="font-size: 16px">
    <p>
        Welcome to our National Parks Page!  
        <br />
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="Parks">Parks</a> tab fetches parks data from the
        <a href="https://developer.nps.gov/">National Park Service API </a> and displays the results.
        <br />
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a> tab discusses our team and the purpose of this site.
        <br />
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="History">History</a> tab reviews a brief history of U.S. National Parks.
        <br />
        <br />
        Sign the <a asp-area="" asp-controller="Guest" asp-action="Index">Guest Book</a> and leave a review!
        <br />
        <br />
    </p>


</div>